@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/poppins-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/poppins-v19-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/poppins-v19-latin-600.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    font-style: normal;
    overflow-x: hidden;
}

:root {
    --mainColor: #037274;
    --mainColorDarker: #046062;
    --darkBG: rgba(255, 254, 254, 0.15);
}

@layer components {
    .btn {
        background-color: theme('colors.mainColor');
        border-radius: theme('borderRadius.lg');
        padding: theme('padding.3') theme('padding.4');
        color: theme('textColor.white');
        transition: theme('transitionProperty.all') theme('transitionTimingFunction.linear') theme('transitionDelay.300');
    }

    .btn:hover {
        background-color: theme('colors.mainColorDarker');
    }

    .btn__primary {
        border-radius: theme('borderRadius.lg');
        padding: theme('padding.3') theme('padding.4');
        border-width: theme('borderWidth.2');
        border-color: theme('borderColor.mainColor');
        color: theme('textColor.mainColor');
        transition: theme('transitionProperty.all') theme('transitionTimingFunction.linear') theme('transitionDelay.300');
    }

    .btn__primary:hover {
        background-color: theme('colors.mainColorDarker');
        border-color: theme('borderColor.mainColorDarker');
        color: theme('textColor.white');
    }

}
.header{
    @apply bg-white py-2 fixed top-0 left-0 w-[100%] z-[99] dark:bg-black;
}
.menu{
    @apply shadow-xl fixed z-[999999] w-[270px] sm:w-[300px] bottom-[20px] left-0 right-0 bg-gray-300 bg-opacity-20 dark:bg-white dark:bg-opacity-20 px-[15px] py-[10px] sm:px-[17px] sm:py-[12px] rounded-[40px] mx-auto;
}
.btn{
    @apply text-sm md:text-base px-3 py-2 md:px-4 md:py-3
}
.btn__primary{
    @apply text-sm md:text-base px-3 py-2 md:px-4 md:py-3
}
.container{
    @apply px-[10px] sm:max-w-[none] lg:max-w-[1200px];
}
.section{
    @apply py-[100px] md:py-[120px] dark:bg-black;
}
.title {
    @apply text-center text-[26px] text-mainColor font-semibold mb-[50px];
}

.subtitle {
    @apply block text-center text-[15px] dark:text-white;
}
.menu {
    backdrop-filter: blur(5px);
}
.about__btn{
    @apply flex mb-4 sm:mb-0 flex-col w-[105px] sm:w-[120px] md:w-[130px] lg:w-[150px] items-center px-2 py-2 sm:p-2 md:p-4 lg:p-6 shadow-xl rounded-2xl dark:bg-darkBG hover:shadow-black transition ease-in duration-300;
}
.skills__card{
    @apply rounded-xl dark:bg-darkBG shadow-xl py-3 px-5 sm:py-4 sm:px-6 md:py-8 md:px-12 lg:py-10 lg:px-14;
}
.shadow-custom_black{
    @apply shadow-black;
}

.work-card-wrapper{
    @apply flex relative
}
.work-card__circle_top{
    @apply -top-[9px]  right-[2px] sm:right-[17px] md:-right-[5px]
}
.work-card__circle_bottom{
    @apply -bottom-[9px]  right-[2px] sm:right-[17px] md:-left-[5px]
}
.work-card__circle{
    @apply absolute rounded-full h-[10px] w-[10px] bg-gray-300 group-hover:bg-mainColor transition ease-in-out duration-300;
}
.work-card__line{
    @apply absolute h-[105%] sm:h-[106%] md:h-[100%] w-[4px]  bg-gray-300 md:top-0  group-hover:bg-mainColor transition ease-in-out duration-300;
}
.work-card__line_right{
    @apply right-[5px] sm:right-[20px] md:-right-[2px];
}
.work-card__line_left{
    @apply right-[5px] sm:right-[20px] md:-left-[2px]
}

.work-card{
    @apply relative mb-5 md:mb-0 w-[100%] mr-[30px] sm:mr-[60px] p-5  dark:text-white dark:bg-darkBG shadow-xl rounded-lg hover:shadow-black hover:after:bg-mainColor transition ease-in-out duration-300;
}

.work-card_left{
    @apply md:mr-[30px] lg:mr-[40px] xl:mr-[70px] ;
}
.work-card_right{
    @apply md:mr-0 md:ml-[30px] lg:ml-[40px] xl:ml-[70px];
}

.work-card__title{
    @apply font-semibold mb-1 w-[85%];
}
.work-card__date{
    @apply dark:text-white text-gray-500 opacity-0 text-xs group-hover:opacity-100 transition ease-in-out duration-300 whitespace-nowrap;
}
.contact-btn{
    @apply flex flex-col justify-center w-[105px] sm:w-[115px] md:w-[125px] lg:w-[150px] items-center p-2 sm:p-3 md:p-4 lg:p-5 shadow-xl rounded-lg hover:shadow-black transition ease-in duration-300 dark:bg-darkBG;
}
.contact-bnt__title{
    @apply text-sm sm:text-base font-semibold dark:text-white mb-1;
}
.contact-btn__img{
    @apply w-5 h-5 sm:w-6 sm:h-6 lg:w-7 lg:h-7 mb-1 dark:text-white transition ease-in duration-300;
}
.input {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    @apply dark:text-white
}

.input:focus {
    outline: none;
}
.input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    transition: 0.4s;
}

.input:focus ~ .focus-border,
.has-content.input ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.input ~ .label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    @apply text-sm sm:text-base
}

.input:focus ~ .label, .has-content.input ~ .label {
    top: -16px;
    font-size: 12px;
    color: var(--mainColor);
    transition: 0.3s;
}

/*textarea*/
.textarea {
    font: 15px / 24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    @apply dark:text-white
}

:focus {
    outline: none;
}

.textarea {
    border: 1px solid #ccc;
    padding: 7px 14px;
    transition: 0.4s;
    background: transparent;
}

.textarea ~ .focus-border:before,
.textarea ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    transition: 0.3s;
}

.textarea ~ .focus-border:after {
    top: auto;
    bottom: 6px;
    left: auto;
    right: 0;
}

.textarea ~ .focus-border i:before,
.textarea ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--mainColor);
    transition: 0.4s;
}

.textarea ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 6px;
}

.textarea:focus ~ .focus-border:before,
.textarea:focus ~ .focus-border:after,
.has-content.textarea ~ .focus-border:before,
.has-content.textarea ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.textarea:focus ~ .focus-border i:before,
.textarea:focus ~ .focus-border i:after,
.has-content.textarea ~ .focus-border i:before,
.has-content.textarea ~ .focus-border i:after {
    height: 96%;
    transition: 0.4s;
}

.textarea ~ label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    @apply text-sm sm:text-base
}

.textarea:focus ~ label, .has-content.textarea ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: var(--mainColor);
    transition: 0.3s;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--mainColorDarker);
}

.dark::-webkit-scrollbar {
    background-color: #949494;
}
