@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/poppins-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/poppins-v19-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/poppins-v19-latin-600.woff2') format('woff2');
}
body{
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  font-style: normal;
  scroll-behavior: smooth;
}
:root{
  --mainColor:#037274;
  --mainColorDarker: #046062;
  --darkBG: rgba(255, 254, 254, 0.15);
}

@layer components {
  .btn {
    background-color: theme('colors.mainColor');
    border-radius: theme('borderRadius.lg');
    padding: theme('padding.3') theme('padding.4');
    color: theme('textColor.white');
    transition: theme('transitionProperty.all') theme('transitionTimingFunction.linear') theme('transitionDelay.300');
  }
  .btn:hover{
    background-color: theme('colors.mainColorDarker');
  }
  .btn__primary{
    border-radius: theme('borderRadius.lg');
    padding: theme('padding.3') theme('padding.4');
    border-width:theme('borderWidth.2');
    border-color:theme('borderColor.mainColor');
    color: theme('textColor.mainColor');
    transition: theme('transitionProperty.all') theme('transitionTimingFunction.linear') theme('transitionDelay.300');
  }
  .btn__primary:hover{
    background-color: theme('colors.mainColorDarker');
    border-color:theme('borderColor.mainColorDarker');
    color: theme('textColor.white');
  }

}
.title{
  @apply text-center text-[26px] text-mainColor font-semibold mb-[50px];
}
.subtitle{
  @apply block text-center text-[15px] dark:text-white;
}
.menu{
  backdrop-filter: blur(5px);
}
.footer{
  background:url('https://loading.io/asset/732145');
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mainColorDarker);
}

.dark::-webkit-scrollbar {
  background-color: #949494;
}
